.home {
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

.home__img {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
    z-index: 1;
}

.home__data {
    max-width: 700px;
    margin-inline: auto;
    padding: 20px 0px;
} 

.home__title {
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    padding-left: 70px;
}

.home__title span {
    color: var(--first-color);
}

.home__title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--first-color);
}

.home__description {
    line-height: 2.125;
    margin-block: 16px 32px;
    padding: 20px;
    /*the alpha value controls the transparency*/
    background: rgba(255, 255, 255, 0.15);
    /* This controls the blurring effect*/
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    /*Adding the shadow*/
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    /* Adding our borders*/
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.19);
    z-index: 4;
}

.color__block {
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    background-color: #176B87;
    top: -50%;
    left: -83%;
    transform: rotate(-15deg);
}